.form {
  display: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  background-color: bisque;

}
input {
    width: 30%;
    height: 50px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
textarea {
  width: 40%;
  height: 80px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  }
  label {
    color: rgb(255, 255, 255);
  }
.label {
    margin-top: 1rem;
  }

