* {
    margin: 0;
    padding: 0;
   
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    background-color: #262323;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.02);
    color: #ffffff;
    max-width: 100%;
    position: relative;
}


.product-canvas {
    width: 80vw;
    height: 70vh;
    background:rgb(46, 46, 46);
    border-radius: 0px;
    margin-bottom:20px;
 
}

.colors {
  display:flex;
  flex-direction:row;
}

.colors div {
    padding:8px;
}

label {
    color: rgb(255, 255, 255);
}

